@import "variables";
.menu-title {
  color: $menu-title !important;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}
.menu-title-activate {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: $menu-title-activate !important;
}
.user-name {
  font-size: 13px;
  line-height: 15px;
  color: $menu-title !important;
}
.spacer {
  margin: 0px 5px;
}
.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: $primary;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}
